absl-py==0.6.1
asn1crypto==0.24.0
astor==0.7.1
beautifulsoup4==4.6.0
bleach==1.5.0
captcha==0.3
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
diff-match-patch==20121119
Django==2.2.3
django-crispy-forms==1.7.2
django-formtools==2.1
django-import-export==1.1.0
django-reversion==3.0.0
dnspython==1.16.0
enum34==1.1.6
et-xmlfile==1.0.1
fake-useragent==0.1.11
future==0.16.0
gast==0.2.0
geoip2==2.9.0
gevent==1.3.7
greenlet==0.4.15
grpcio==1.16.1
h5py==2.8.0
html5lib==0.9999999
httplib2==0.9.2
idna==2.8
ipaddress==1.0.22
libsvm==3.22
lxml==4.2.5
maxminddb==1.4.1
mccabe==0.6.1
mechanize==0.2.5
PyEmail==0.0.1
pygeoip==0.3.2
PyMySQL==0.8.0
pyOpenSSL==18.0.0
pyparsing==2.2.2
pyquery==1.4.0
PySocks==1.7.0
pyspharm==1.0.9
python-dateutil==2.7.3
python-whois==0.7.1
pytz==2018.5
PyYAML==3.13
requests==2.22.0
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
six==1.12.0
sqlparse==0.3.0
tablib==0.12.1
termcolor==1.1.0
unicodecsv==0.14.1
urllib3==1.25.3
Werkzeug==0.14.1
whois==0.7
xlrd==1.1.0
XlsxWriter==1.1.6
xlwt==1.3.0
