<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ThreatScan - 免费的网站在线安全风险检测平台_TScan</title>
		<link rel="icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/style/bootstrap.min.css">
        <style type="text/css">
            *{margin:0px;padding:0px;}body{background-image:linear-gradient(90deg,#4e51ff 0%,#3eb9ff 100%);}header{font-size:32px;color:#fff;margin:15px 25px;}header p{font-size:14px;margin-top:10px;padding-left:50px;}.main-content{margin:5px auto;width:100%;text-align:center;color:#fff;}.main-content h3{padding:250px 0px 20px 0px;}.main-content p{margin:0px auto;width:150px;border:1px solid #fff;padding:6px 5px;box-shadow:1px 1px 1px #FBFBFB;font-size:14px;}.main-content p:hover{color:#01AAED;}.main-content p a{color:#fff;text-decoration:none;}footer{position:absolute;bottom:8px;color:#FFF;width:100%;text-align:center;font-size:12px;}
        </style>
	</head>
	<body>
		<header>
			ThreatScan
			<p>--网站在线安全风险检测平台</p>
		</header>
		<div class="main-content">
			<div class="index_show">
				<h3>求知若渴，虚心若愚</h3>
				<p style="cursor: pointer;"><a href="/web/" class="login_btn">点击进入</a></p>
                <div style="height:15px;"></div>
                <p style="cursor: pointer;"><a href="https://www.chabug.org/about" target="_blank" class="login_btn">ChaBug</a></p>
			</div>
		</div>
		<footer>
            (c) Copyright 2019 <a href="https://blog.dyboy.cn/" target="_blank" title="DYBOY" style="color:#fff;">DYBOY</a>. All Rights Reserved.
		</footer>
	</body>
</html>
